<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dream date App{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>

<div class="app">

    <!-- LEFT SIDEBAR -->
    <aside class="sidebar">
        <div class="logo">Dream date App</div>

        <div class="user-info">
            <div><img src="{{ asset('images/' ~ profile.avatar) }}" class="user-avatar"></div>
            <div class="user-details">
                <div class="user-name">{{ profile.firstName }} {{ profile.lastName }}, {{ profile.age }}</div>
            </div>
        </div>

        <hr class="separator">

        <nav class="menu">
            <a href="/profile">Edit profile</a>
            <a href="/messages">Messages</a>
            <a href="/likes" class="red-text">❤ Likes</a>
            <a href="/settings">Settings</a>
        </nav>
        <hr class="separator">

        <nav class="menu">
            <a href="/logout">Log out</a>
        </nav>
    </aside>

    <!-- RIGHT CONTENT -->
    <main class="content">
        {% block body %}{% endblock %}
    </main>

</div>

{% block javascripts %}{% endblock %}
</body>
</html>
