{% extends 'shared/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Welcome home,
        {% if app.user %}
          {{ app.user.userIdentifier  }}
        {% else %}
          body!
        {% endif %}
    </h1>
    <div>
        {% if app.user %}
          <a href="{{ path('app_logout') }}">Logout</a>
          <br>
         <!-- <a href="path('profile')">Profile</a> -->
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
            </br>
            <a href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </div>
{% endblock %}
